@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {         

  h1 {
    @apply text-3xl lg:text-7xl font-light leading-tight text-white/90;
    letter-spacing: 0.2em;
  }
  h2 {
    @apply text-lg leading-tight text-white/75;
    letter-spacing: 0.2em;
  }
  h3 {
    @apply text-sm lg:text-lg font-light leading-tight text-white/65;
    letter-spacing: 0.2em;
  }
  html {
    @apply bg-gradient-to-b from-p-grey to-p-metal-950 h-screen;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: 0;  /* Firefox */
  }
}